body {
    background: #001448;
    border: 0px;
    margin: 0px;
    padding: 0px;
}
/*canvas {*/
/*    margin: 0;*/
/*    padding: 0;*/
/*    width: 100vh;*/
/*    height: 100vw;*/
/*    background-color: black;*/
/*    border: 5px dotted #305E17;*/
/*}*/